<div class="p-4 flex flex-col gap-y-10">
  <!-- Details -->
  <div class="w-full bg-grey flex flex-col gap-2 items-center">
    <div class="self-start mx-2">
      <p class="font-bold text-sm">Home > المأكولات والمشروبات > الإفطار</p>
    </div>
    <div class="w-full bg-white border px-4 py-6 pb-8 flex flex-col">
      <h2 class="font-bold mb-6">{{product.name}} - {{product.sizes[index].productSize}}</h2>
      <div class="grid grid-cols-6">
        <!-- Slides -->
        <div dir="ltr" class="col-span-2">
          <owl-carousel-o [options]="customOptions">
    
            <ng-container *ngFor="let slide of product.sizes[index].imagesUri; let i = index">
              <ng-template carouselSlide >
                <img [src]="slide" alt="{{product.slug}}">
              </ng-template>
            </ng-container>
    
          </owl-carousel-o>
        </div>
        
        <!-- Details -->
        <div class="col-span-4">
  
          <div class="w-1/2 text-sm font-bold txt-xl-grey flex flex-col mx-16 justify-evenly h-full">
            
            <div class="flex flex-col gap-5">
              <div class="flex justify-between justify-items-start pb-4 border-b">
                <p class="basis-1/2">الماركة</p>
                <p class="basis-1/2">{{product.brand}}</p>
              </div>
              <div class="flex justify-between justify-items-start pb-4 border-b">
                <p class="basis-1/2">الحجم</p>
                <p class="basis-1/2">{{product.sizes[index].productSize}}</p>
              </div>
              <div class="flex justify-between justify-items-start pb-4 border-b">
                <p class="basis-1/2">السعر</p>

                <!-- After Discount -->
                <div *ngIf="product.sizes[index].discount > 0; else showOriginalPrice" class="basis-1/2 flex gap-2 items-center">
                  <p class="text-black text-lg">
                    {{ (product.sizes[index].price - (product.sizes[index].price * product.sizes[index].discount) / 100) | fixed }} ر.س.
                  </p>
                  <p class="txt-xl-grey font-bold text-xs line-through decoration-1 decoration-gray-400">{{product.sizes[index].price}}ر.س.</p>
                </div>
                <ng-template #showOriginalPrice>
                  <p class="basis-1/2 text-black text-lg">{{product.sizes[index].price}} ر.س.</p>
                </ng-template>
              </div>
            </div>
            
            <!-- ADD Cart Btn -->
            <div class="self-center">
              <button class="bg-main text-white rounded-full p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.5" stroke="currentColor"
                  class="w-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span class="hidden">c</span>
              </button>
            </div>
  
          </div>
  
  
        </div>
      </div>
      
      <!-- Product Sizes -->
      <div *ngIf="product.sizes.length > 1" class="flex flex-col mx-2 my-6">
        <p class="text-sm font-bold txt-xl-grey mx-5 my-4">حجم آخر</p>
        <div class="flex">
          <!-- product -->
          <div *ngFor="let prod of product.sizes; let i = index" [class.border-l]="i != product.sizes.length -1"
          (click)="showOtherSize(i)" class="flex flex-col gap-2 items-center px-3 cursor-pointer">

            <img width="120" [src]="prod.imagesUri[0]" alt="{{prod.id}}">
            <div>
              <button class="bg-main text-white rounded-full p-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.5" stroke="currentColor"
                  class="w-3">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span class="hidden">c</span>
              </button>
            </div>
            <div class="flex gap-2 text-xs">
              <strong>{{prod.price}}ر.س.</strong>
              <strong class="txt-xl-grey">/ {{prod.productSize}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Other Products -->
  <div class="flex flex-col">
    <h2 class="txt-xl-grey text-xl font-bold self-center">قد يعجبك أيضاً</h2>
    <div>
      <app-ProductSlides [products]="products!" [items_count]="5" [grid_col]="'grid-flow-col auto-cols-[minmax(20%,_1fr)]'"></app-ProductSlides>
    </div>
  </div>

</div>