<form [formGroup]="cateForm" (ngSubmit)="onSubmit()"
class="w-1/2 flex justify-between mx-auto my-10">
    <div class="flex flex-col gap-3 my-auto">
    <input formControlName="title" type="text" class="border w-fit p-1" placeholder="اسم الصنف">
    <input formControlName="slug" type="text" class="border w-fit p-1" placeholder="الاسم بالانجليزي">
    <input formControlName="imageUri" type="text" class="border w-fit p-1" placeholder="الصورة">
    <label for="isDisplayed" class="cursor-pointer text-xs">
        <input formControlName="isDisplayed" type="checkbox" name="" id="isDisplayed" class="custom-checkbox cursor-pointer">
        عرض الصنف في الصفحة الرئيسية
    </label>

    <button type="submit" class="bg-gray-800 text-white text-sm py-0.5 rounded-md my-4 hover:bg-gray-700 duration-75">إنشاء</button>
    </div>

    <div class="flex flex-col gap-3">
        <h4>اختر الصنف (الأب)</h4>
        <select formControlName="parentCategoryId" id="color-selected" size="10" title="cate">
            <option [value]="null">-- ليس له أب --</option>
            <option *ngFor="let cate of parentCategories" [value]="cate.slug">{{ cate.title }}</option>
        </select>
    </div>
</form>