@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: changa;
    src: url(./assets/fonts/Changa-Regular.ttf);
}

:root {
    --main-color: #be1e2d;
    --gray-color: #F9F9FA;
    --darker-gray: #D1D3D4;
    --xl-grey: #696971;
}

html {
    direction: rtl;
    font-family: 'changa';
}

* {
    scroll-behavior: smooth;
}

.bg-main{
    background-color: var(--main-color);
}

.br-main {
    border-color: var(--main-color);
}

.txt-main{
    color: var(--main-color);
}

.bg-grey{
    background-color: var(--gray-color);
}

.txt-grey{
    color: var(--gray-color);
}

.bg-dark{
    background-color: var(--darker-gray);
}

.txt-dark{
    color: var(--darker-gray);
}

.bg-xl-grey{
    background-color: var(--xl-grey);
}

.txt-xl-grey,
input::placeholder{
    color: var(--xl-grey);
}


.hover:hover {
    color: var(--main-color);
}

.parent {
    position: relative;
}

.child {
    position: absolute;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    /* Checkbox background color */
    border: 1px solid #ccc;
    /* Checkbox border color */
    border-radius: 3px;
}

/* Checked state */
.custom-checkbox:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#car .owl-theme .owl-dots .owl-dot span {
    background-color: var(--darker-gray);
    width: 1.6rem;
    height: 0.25rem;
}

#car .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--darker-gray);
}

#car .owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--main-color);
}

#car .owl-theme .owl-nav.disabled+.owl-dots {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}