<div class="relative overflow-hidden">
  <div [style.transform]="'translateX(' + translateX + ')'" [class]="grid_col"
    class="grid my-4 relative duration-500">
    
    <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>

  </div>
  <button (click)="next()" [class.hidden]="!nextState || products.length <= items_count"
    class="absolute left-0 top-1/2 -translate-y-1/2 txt-main w-9 h-9 z-40 flex justify-center items-center bg-white border rounded-full shadow-lg">&#10095;</button>
  <button (click)="prev()" [class.hidden]="currentIndex === 0"
    class="absolute right-0 top-1/2 -translate-y-1/2 txt-main w-9 h-9 z-40 flex justify-center items-center bg-white border rounded-full shadow-lg">&#10094;</button>
</div>