<div class="w-fit">
    <form [formGroup]="prduct_form_group" (ngSubmit)="FormSubmit()" class="flex flex-col gap-2 m-4">
        <input formControlName="name" type="text" class="border w-fit" placeholder="اسم المنتج">
        <input formControlName="slug" type="text" class="border w-fit" placeholder="اسم المنتج بالانجليزي">
        <select formControlName="brandId" class="border w-fit" title="brand">
            <ng-container *ngFor="let brand of brands">
                <option value="" selected disabled>إختر</option>
                <option  [value]="brand.id">{{ brand.name }}</option>
            </ng-container>
        </select>
        <select formControlName="categoryId" name="cate" class="border w-fit" title="cate" id="">
            <option *ngFor="let cate of categories" [value]="cate.id">{{cate.title}}</option>
        </select>
        <h1>الحجم</h1>
        <app-add-sizes></app-add-sizes>
        
        <button [disabled]="!(prduct_form_group.valid && sizeDataIsvalid)" type="submit"
        class="bg-indigo-800 w-32 hover:bg-indigo-900 text-white px-2 disabled:opacity-60">
        أضف المنتج
        </button>
    </form>
</div>