<form [formGroup]="brandForm" (ngSubmit)="onSubmit()" class="w-1/2 flex justify-between mx-auto my-10">
    <div class="flex flex-col gap-3 my-auto">
        <input formControlName="name" type="text" class="border w-fit p-1 placeholder:text-sm" placeholder="اسم الماركة">
        <input formControlName="slug" type="text" class="border w-fit p-1 placeholder:text-sm" placeholder="الاسم بالانجليزي">
        <input formControlName="image" type="text" class="border w-fit p-1 placeholder:text-sm" placeholder="الصورة">
        <label for="isDisplayed" class="cursor-pointer text-xs">
            <input formControlName="isDisplayed" type="checkbox" id="isDisplayed"
                class="custom-checkbox cursor-pointer">
            عرض الماركة في الصفحة الرئيسية
        </label>

        <button type="submit"
            class="bg-gray-800 text-white text-sm py-0.5 rounded-md my-4 hover:bg-gray-700 duration-75">إنشاء</button>
    </div>
</form>