/* Customizing scrollbar color */
::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 6px;
}
