<app-home-slides [slides]="slides"></app-home-slides>
<div class=" flex items-center flex-col">
    
    <div class="">
        <img src="https://shop.tamimimarkets.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftm-zopsmart-uploads%2Foriginals%2F20231011%2FRB_-5Sb-20231011-065626.png&w=1920&q=100" alt="">
    </div>
    
    <h3 class="txt-xl-grey font-bold mt-10">تسوق من الأقسام</h3>
    
    <!-- CATEGORIES -->
    <div class="flex flex-wrap justify-center my-10 max-w-screen-2xl">
        <app-category-card *ngFor="let cate of categories" [category]="cate"></app-category-card>
    </div>


    <h3 class="txt-xl-grey text-xl my-2 font-bold">الأفضل مبيعا</h3>
    
    <!-- BEST SALLER -->
    <div class="mb-5">
        <app-ProductSlides [products]="bestSaller" [items_count]="5"
            [grid_col]="'grid-flow-col auto-cols-[minmax(20%,_1fr)]'"></app-ProductSlides>
    </div>

    <img src="https://shop.tamimimarkets.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftm-zopsmart-uploads%2Foriginals%2F20230510%2Fmeatbanner-06-20230112-092301-20230510-060453.png&w=1920&q=100" alt="">
    
    <h3 class="txt-xl-grey text-xl mt-10 font-bold">تسوق حسب العلامة التجارية</h3>

    <div class="grid grid-cols-4 gap-4 my-10 max-w-screen-2xl">
        <app-Brand *ngFor="let brand of brands" [brand]="brand"></app-Brand>
    </div>

</div>
